nav {
    float: none;
    text-decoration: none;
    text-align: center;
    color: #e2e2e2;
    background: #000000;
    transition: 2s;
    word-spacing: 215px;
    height: 40px;
    line-height: 33px;
    font-size: 30px;
    line-height: 34px;
    font-family: 'Roboto';
    font-size: 28px;
    padding: 4 0 4px;
    display: block;
    width: auto;
     opacity: inherit;
}
iframe { text-align: center;
    background-color: black;

}
nav   a:hover{
    background-color: rgb(255, 255, 255);
}
header { 
    text-align: center;
    background-color: black;
    color: rgb(136, 130, 117);
    font-family: 'Roboto';
    text-decoration: dotted;
    font-stretch: extra-expanded;
    font-size: 50px;
    transition: 2s;
    border: 10px;
    border-color: red;
    display: block;
    hpx;
    
}  
footer {
    text-align: center;
    color: rgb(13, 122, 218);
    font-family: monospace;
    background-color: black;
    font-size: 20px;
}
form {
    text-align: justify;
    color: blue;
    background-color: black;
}
section { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #000000;
    color: blue;



